<%= stylesheet_link_tag "usersearch" %>

<p style="color: green"><%= notice %></p>

<h1>Search Users</h1>

<%= form_with model: @user, method: :get do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  <div class="divider" />
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <div class="divider" />
  <%= form.label :phone, "Phone:" %>
  <%= form.text_field :phone %>
  <div class="divider" />
  <%= form.label :cpf, "Cpf:" %>
  <%= form.text_field :cpf %>
  <div class="divider" />
  <%= form.submit "Search" %>
<% end %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
